DB_HOST=localhost
DB_PORT=3306
DB_NAME=workflow
DB_USERNAME=root
DB_PASSWORD=workflow

SERVER_PORT=8080
FLOWABLE_SCHEMA_UPDATE=true
FILE_STORAGE_PATH=uploads
FILE_STORAGE_ACCESS_URL=/uploads

WEB_PORT=3000
VITE_API_BASE_URL=/api
